@import "partial/_common";

header {
  height: 95px;
  background-color: #101010;
  color: white;
}
#section_1 {
  height: 460px;
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
#section_2 {
  height: 55px;
  background-color: #E6E6E6;
}
#section_3 {
  height: 902px;
  background-color: #101010;
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
}
#section_4 {
  height: 1002px;
  background-color: #FFFFFF;
}
#section_5 {
  height: 650px;
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-02.jpg");
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
#section_6 {
  height: 2176px;
  background-color: #222222;
}
#section_7 {
  height: 650px;
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-01.jpg");
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
#section_8 {
  height: 516px;
  padding: 80px 0 60px;
  background-color: #FFFFFF;
}
#section_9 {
  height: 590px;
  padding-top: 40px;
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/brushpacks-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer_top {
  height: 322px;
  background-color: #ECECEC;
}
#footer_bot {
  height: 90px;
  background-color: #1E1E1E;
}













//clearmix
